<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Admin | Proyecto 8</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css' ) }}"> 
	<!-- <link rel="stylesheet" href="css/estilos.css"> -->
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<h1>Administrador</h1>
			</div>
			<nav class="menu">
				<a href="#">Inicio</a>
				<a href="#">Nosotros</a>
				<a href="#">Blog</a>
				<a href="#">Contacto</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>	
			<br><br>
			<a href="#">Cursos Disponibles</a>
			<a href="#">Materias Matriculadas</a>
			<a href="#">Calificaciones</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
</html>