<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <!--Css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/CssLayout.css' ) }}"> 
    
    <!--Css BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Iconos BoootStrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    
    
    <title>Estudiante | IMPERIUM</title>
  </head>
  <body>
  <main>
    <div>
    <header class="header">
		<div class="container">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="/Estudiante/novedades" class=icon-campana>
              <i class="bi bi-bell-fill"></i>
            </a>
          </li>
          <li class=nav-item> 
            <a>Pepito Perez</a> 
          </li>
          <li class=nav-item>
            <a>
              <i class="bi bi-person-circle"></i>
            </a>
          </li>
        </ul>
	</header>
    </div>
    {% block contenido %}

    {% endblock %}
<!--	--------------->

<div class="contenedor-menu">
	<div class="conte-menu text-white" >
    <nav >
      <a>
      <i class="bi bi-bullseye"></i>
      <span>Estudiante</span>
     </a>
  <hr>
     <ul class="nav nav-pills">  
      <li>
        <a title="Perfil" href="/Estudiante/perfil" >
          <i class="bi bi-people-fill"></i>
          <span>Area Personal</span>
        </a>
      </li>
      <li class="mb_1">
        <a  title="Desplegable" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#tarea-collapse" aria-expanded="false">
          <i class="bi bi-journal-text"></i>
          <span>Asignaturas</span>
        </a>
        <div class="collapse" id="tarea-collapse">         
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a class="dropdown-item" href="/Estudiante/asignaturas/matricular">Matricular Asignaturas</a></li>
        <li><a class="dropdown-item" href="/Estudiante/asignaturas/materias" >Mis Asignaturas</a></li>
      </ul>
    </div>  
  </li>
      <li>
        <a href="/Estudiante/actividades">
          <i class="bi bi-journal-arrow-down"></i>
          <span>Actividades</span>
        </a>
      </li>
      <li>
        <a href="/Estudiante/entregas">
          <i class="bi bi-journal-arrow-up"></i>
          <span>Entregas</span>
        </a>
      </li>
      <li>
        <a href="/Estudiante/novedades">
          <i class="bi bi-journals"></i>
          <span>Novedades</span>
        </a>
      </li>
      <li>
        <a href="/Estudiante/Calificaciones">
          <i class="bi bi-journal-check"></i>
          <span>Calificaciones</span>
        </a>
      </li>
    </ul>
      <hr>
      <ul  class="nav nav-pills">  
      <li>
        <a href="/Login">
          <i class="bi bi-box-arrow-in-left"></i>
          <span>Cerrar Sesion</span>
        </a>
      </li>
      </ul>
   </nav>      
</div> 
  </div>
  
  <div class="divider"></div>
</main>

<!-- Optional JavaScript; choose one of the two! BootStrap-->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>