<!DOCTYPE html>
<html>
  <head>
     <!-- Required meta tags -->
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS NORMAL-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/CssLogin.css' ) }}"> 
    <!--CSS BootStrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PROYECTO 8 | IMPERIUM</title>
    <body>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    
    
    <div class="login-box">
       <img src="./static/img/UN2.gif" class="avatar" alt="Avatar Image">
      <!-- <img src="img/UN2.gif" class="avatar" alt="Avatar Image"> -->
      <br><h1>Iniciar Sesión</h1>
      <form id="form1">
        <div class="container">
        <div class="row">
        <div class="container-fluid">
        <!-- USERNAME INPUT -->
        <label for="username">Usuario</label>
        <input type="text" placeholder="Escriba Usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
       <div class="input-group">
        <input  ID="txtPassword" type="Password" Class="form-control" placeholder="Escriba Contraseña">
        <div class="input-group-append">
          <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
               </div>
            </div>
          </div>
        </div>
      </div>
      <br>
        <input type="submit" value="Entrar">
        <a href="#">Olvido la contraseña?</a><br>
        
      </form>
    </div>
  </body>
</html>
